:root {
    --green: #60AE2B;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --contents-title__fontfamily:'Yeseva One', cursive;
    --contents-title__fontsize: 34px;
    
}