.mobile-main-slide{
    /* position: relative; */
    margin-bottom: 35px;
}

.mobile-main-slide img{
    width: 100%;
    height: 100%;
}
.mobile-main-slide__btn{
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    top: 368px;
}
.mobile-main-slide__btn__circle{
    width: 13px;
    height: 13px;
    background-color: #eeeeee;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}
.mobile-main-slide__btn :first-child{
    background-color: var(--greenMobile);
}


/* 스와이퍼 슬라이드 */
.swiper-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    /* position: absolute;
    top: 380px; */
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    /* display: inline-block; */
    color: #666666;
}
.swiper-pagination-bullet-active {
    background-color: var(--greenMobile);
}