.mobile-delivery-title{
    width: 50vw;
    height: 50px;
    color: #fff;
    background-color: var(--greenMobile);
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    position: absolute;
    top: -25px;
    left: 22vw;
    
}

.mobile-delivery-box{
    margin: 60px 0 30px 0;
    padding: 0 3vw;
    background-color: #fff;
    border: 1px solid var(--greenMobile);
    position: relative;
}
.mobile-delivery-box__text{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.9;
    text-align: center;
    margin: 50px 0 20px 0;
}
.mobile-delivery-box__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-delivery-box__icon img {
   width: 80%;
   margin-bottom: 30px;
}


.mobile-delivery__img{
    display: flex;
    justify-content: center;
}
.mobile-delivery__img img {
    width: 100%;
    padding-bottom: 30px;
}