/* 왼쪽 햄버거 사이드 메뉴 */
.mobile-hamberger-leftMenu {  
    width: 0px;        /* 초기엔 화면에서 숨기기 위해 */    
    height: 100%;
    color: #ffffff;
    background-color: var(--greenMobile);
    position: fixed;    /* 화면 상 다른 레이어로 위치시키게 함 */
    top: 0;
    left: 0;
    z-index: 999;
    overflow-x: hidden;     /* 가로방향은 메뉴가 넘치지 않게 보임 */   
    transition: width 0.5s;
}
.showLeftMenu {
    width: 75%;
}
.mobile-hamberger-leftMenu__logo img {
    width: 70%;
}


.mobile-hamberger-leftMenu__xbtn{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    cursor: pointer;
}
.mobile-hamberger-leftMenu__logo{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #90c67c;
}
.mobile-hamberger-leftMenu__title{
    font-size: 18px;
    font-family: var(--contents-title__fontfamily);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #90c67c;
}




    /* 오른쪽 위치 사이드 메뉴 */
.mobile-location-rightMenu {  
    width: 0px;        /* 초기엔 화면에서 숨기기 위해 */    
    height: 100%;
    color: #ffffff;
    background-color: var(--greenMobile);
    position: fixed;    /* 화면 상 다른 레이어로 위치시키게 함 */
    top: 0;
    right: 0;
    z-index: 999;
    overflow-x: hidden;     /* 가로방향은 메뉴가 넘치지 않게 보임 */   
    transition: width 0.5s;
}
.showRightMenu {
    width: 75%;
}

.mobile-location-rightMenu__xbtn{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    cursor: pointer;
}
.mobile-location-rightMenu__title{
    font-size: 15px;
    font-family: var(--contents-title__fontfamily);
    padding: 15px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #90c67c;
}