
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    
}
.footer__title {
    color: #e4e4e4; 
    font-size: 20px;
    padding: 35px 0 15px 0;
}
.footer__sub__title {
    display: flex;
    justify-content: center;
    align-items: center;
         
}
.footer__sub__title {
    color: #848484;
    font-size: 13px;
    padding-bottom: 15px;
    min-width: 324px;
}
.footer__sub__title span {
    padding: 0 12px;
}
.footer__left-border {
    border-left: 1px solid #848484;
}
.footer__facebook-icon {
    padding: 20px 0 35px 0;
}
.footer__logo {
    padding-bottom: 15px;
}
.footer__text {
    font-size: 12px;
    color: #4E4E4E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__text p {
    padding: 2px 0;
}
.footer__text__last {
    font-size: 12px;
    color: #a0a0a0;
    padding: 10px 0 20px 0;
}
